/* COMMON */
body {
  margin: 0;
}

.page {
  height: 100vh;
  width: 100vw;
}




/* HEADER */
.page__header {}
.nav-trigger {}




/* MENU */
.nav {
  display: none;
}
.nav__items {}
.nav__item {}
.nav__link {}
.nav-close {}




/* MAIN */
.page__main {}
.page__wrapper {}
.page__main-title {}




/* FOOTER */
.page__footer {}
.page__footer {}
.page__footer-copy {}
