/* COMMON */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page {
  height: 100vh;
  width: 100vw;
  padding: 30px;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.35) 50%), url('../images/anonymous-server-background.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




/* HEADER */
.page__header {}

.nav-trigger {
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url('../images/ico-menu.svg');
  background-repeat: no-repeat;
  background-position: 12.5px 12.5px;
  margin-left: auto;
  display: block;
  height: 50px;
  width: 50px;
  padding-top: 50px;
  overflow: hidden;
  border-radius: 5px;
}




/* MENU */
.nav {
  display: none;
}
.nav__items {}
.nav__item {}
.nav__link {}
.nav-close {}




/* MAIN */
.page__main {
  flex-grow: 1;
}
.page__wrapper {}

.page__main .page__wrapper {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page__main-title {
  font-family: 'Roboto SLab', serif;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 70px;
}



/* FOOTER */
.page__footer {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 100%;
}
.page__footer {}
.page__footer-copy {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:#777777;
  margin: 7px 0;
}
